rplSupplier/src/main/resources/rpl/schematXmlRejestr_Produktow_Leczniczych.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://rejestry.ezdrowie.gov.pl/rpl/eksport-danych-v5.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cmn="http://rejestry.ezdrowie.gov.pl/api/rpl/xsd/2.0.0/commonTypes" version="5.0.0">
    <xs:import schemaLocation="https://rejestrymedyczne.ezdrowie.gov.pl/api/rpl/xsd/2.0.0/commonTypes.xsd" namespace="http://rejestry.ezdrowie.gov.pl/api/rpl/xsd/2.0.0/commonTypes" />
    <xs:element name="produktyLecznicze">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="produktLeczniczy">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="kodyATC" maxOccurs="1" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="kodATC" type="cmn:limitedString" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="drogiPodania" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="drogaPodania" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="gatunki" minOccurs="0" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="gatunek" minOccurs="0" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="okresyKarencji" minOccurs="0" maxOccurs="1">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="okresKarencji" minOccurs="0" maxOccurs="unbounded">
                                                                                            <xs:complexType>
                                                                                                <xs:attribute name="nazwaTkanki" type="xs:string"/>
                                                                                                <xs:attribute name="wartoscMiary" type="xs:decimal"/>
                                                                                                <xs:attribute name="jednostkaMiary" type="xs:string"/>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute name="nazwaGatunku" type="xs:string"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="drogaPodaniaNazwa" type="xs:string" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="substancjeCzynne" maxOccurs="1" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="substancjaCzynna" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:string" name="nazwaSubstancji" use="optional"/>
                                                        <xs:attribute type="xs:string" name="iloscSubstancji" use="optional"/>
                                                        <xs:attribute type="xs:string" name="jednostkaMiaryIlosciSubstancji" use="optional"/>
                                                        <xs:attribute type="xs:string" name="iloscPreparatu" use="optional"/>
                                                        <xs:attribute type="xs:string" name="jednostkaMiaryIlosciPreparatu" use="optional"/>
                                                        <xs:attribute type="xs:string" name="innyOpisIlosci" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="opakowania" maxOccurs="1" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="opakowanie" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="jednostkiOpakowania" maxOccurs="1" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="jednostkaOpakowania" maxOccurs="unbounded" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute name="liczbaOpakowan" type="cmn:integerAsString" use="optional"/>
                                                                                <xs:attribute name="rodzajOpakowania" type="cmn:limitedString" use="optional"/>
                                                                                <xs:attribute name="pojemnosc" type="xs:string" use="optional"/>
                                                                                <xs:attribute name="jednostkaPojemnosci" type="cmn:limitedString" use="optional"/>
                                                                                <xs:attribute name="informacjeDodatkowe" type="xs:string" use="optional"/>
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="zgodyPrezesa" maxOccurs="1" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="zgodaPrezesa" maxOccurs="unbounded" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="nrZgodyPrezesa" type="cmn:limitedString" maxOccurs="1" minOccurs="0"/>
                                                                            <xs:element name="GTINZagraniczne" maxOccurs="1" minOccurs="0">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="GTINZagraniczny" maxOccurs="unbounded" minOccurs="0">
                                                                                            <xs:complexType>
                                                                                                <xs:attribute name="numer" type="xs:string"  use="optional"/>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="kodGTIN" type="cmn:limitedString" use="optional"/>
                                                <xs:attribute name="kategoriaDostepnosci" type="cmn:limitedString" use="optional"/>
                                                <xs:attribute name="skasowane" type="cmn:booleanAsString" use="optional"/>
                                                <xs:attribute name="numerEu" type="cmn:limitedString" use="optional"/>
                                                <xs:attribute name="dystrybutorRownolegly" type="cmn:limitedString" use="optional"/>
                                                <xs:attribute name="id" type="cmn:bigIntAsString" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="daneOWytworcy" maxOccurs="1" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="wytworcy" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="nazwaWytworcyImportera" type="xs:string" use="optional"/>
                                                        <xs:attribute name="krajWytworcyImportera" type="xs:string" use="optional"/>
                                                        <xs:attribute name="podmiotOdpowiedzialnywKrajuEksportu" type="xs:string" use="optional"/>
                                                        <xs:attribute name="krajEksportu" type="xs:string" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="materialyEdukacyjne" maxOccurs="1" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dlaPacjenta" maxOccurs="1" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="materialEdukacyjny" maxOccurs="5" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="nazwaMaterialu" type="xs:string" use="optional"/>
                                                                    <xs:attribute name="material" type="xs:string" use="optional"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="dlaMedyka" maxOccurs="1" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="materialEdukacyjny" maxOccurs="5" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="nazwaMaterialu" type="xs:string" use="optional"/>
                                                                    <xs:attribute name="material" type="xs:string" use="optional"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="nazwaProduktu" type="cmn:limitedString" use="optional"/>
                        <xs:attribute name="rodzajPreparatu" type="cmn:limitedString" use="optional"/>
                        <xs:attribute name="nazwaPowszechnieStosowana" type="cmn:limitedString" use="optional"/>
                        <xs:attribute name="nazwaPoprzedniaProduktu" type="cmn:limitedString" use="optional"/>
                        <xs:attribute name="moc" type="xs:string" use="optional"/>
                        <xs:attribute name="nazwaPostaciFarmaceutycznej" type="cmn:limitedString" use="optional"/>
                        <xs:attribute name="podmiotOdpowiedzialny" type="xs:string" use="optional"/>
                        <xs:attribute name="typProcedury" type="cmn:limitedString" use="optional"/>
                        <xs:attribute name="numerPozwolenia" type="cmn:limitedString" use="optional"/>
                        <xs:attribute name="waznoscPozwolenia" type="xs:string" use="optional"/>
                        <xs:attribute name="podstawaPrawna" type="xs:string" use="optional"/>
                        <xs:attribute name="ulotka" type="xs:string" use="optional"/>
                        <xs:attribute name="charakterystyka" type="xs:string" use="optional"/>
                        <xs:attribute name="etykietoUlotka" type="xs:string" use="optional"/>
                        <xs:attribute name="ulotkaImportRownolegly" type="xs:string" use="optional"/>
                        <xs:attribute name="etykietoUlotkaImportRownolegly" type="xs:string" use="optional"/>
                        <xs:attribute name="oznaczenieOpakowanImportRownolegly" type="xs:string" use="optional"/>
                        <xs:attribute name="id" type="cmn:bigIntAsString" use="optional"/>
                        <xs:attribute name="status" type="cmn:changeTypeString" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="stanNaDzien" type="cmn:dateAsString"/>
        </xs:complexType>
    </xs:element>
</xs:schema>